---
import { NUMBER_OF_POSTS_PER_PAGE } from "../../server-constants.ts";
import { getPosts, getRankedPosts, getAllTags, getNumberOfPages } from "../../lib/notion/client.ts";

import Layout from "../../layouts/Layout.astro";
import BlogPostIndex from "../../components/BlogPostIndex.astro";
import Pagination from "../../components/Pagination.astro";
import BlogPostsLink from "../../components/BlogPostsLink.astro";
import BlogTagsLink from "../../components/BlogTagsLink.astro";
import styles from "../../styles/blog.module.css";

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([getPosts(NUMBER_OF_POSTS_PER_PAGE), getRankedPosts(), getAllTags(), getNumberOfPages()]);
---

<Layout title="Blog" path="/blog">
  <div class="flex flex-wrap justify-between">
    <main class="w-full lg:w-4/5">
      <header>
        <h2>記事</h2>
      </header>

      <article>
        <BlogPostIndex posts={posts} />
      </article>

      <footer>
        <Pagination currentPage={1} numberOfPages={numberOfPages} />
      </footer>
    </main>

    <aside class="w-full lg:w-1/6">
      {
        /*
      TODO: おすすめ記事リンクをまとめたい
      */
      }
      <BlogPostsLink heading="★ おすすめ記事" posts={rankedPosts} />
      <BlogTagsLink heading="★ タグ一覧" tags={tags} />
    </aside>
  </div>
</Layout>
