---
import Layout from "../layouts/Layout.astro";
import * as interfaces from "../lib/interfaces.ts";
import { getAllPosts, getPostBySlug, getAllBlocksByBlockId } from "../lib/notion/client.ts";
import PostBody from "../components/PostBody.astro";
import AsideProfile from "../components/AsideProfile.astro";
export async function getStaticPaths() {
  const posts = await getAllPosts();
  return posts.map((post: interfaces.Post) => ({ params: { slug: post.Slug } }));
}
const slug = "_index";
const post = await getPostBySlug(slug);
if (!post) {
  throw new Error("Post not found. slug: ${slug}");
}
const blocks = await Promise.all([getAllBlocksByBlockId(post.PageId)]);
---

<Layout>
  <div class="flex flex-wrap justify-between">
    <main class="w-main">
      <article>
        <PostBody blocks={blocks} />
      </article>
    </main>
    <aside class="w-aside">
      <AsideProfile />
    </aside>
  </div>

  {
    /*
    TODO: PostReletiveLinkのデザイン
    
    TODO: コードに色がつかない ←ver0.3で直ったっぽい？
    
    TODO: 画像を拡大できるように　←ver0.3のlightboxで解決？
    
    TODO: 追従する目次　https://blog.nuovotaka.com/blog/astro-notion-blog-aside-toc
    */
  }
</Layout>
