---
---

<footer class="mt-8 w-full p-3 border-t border-neutral-500 border-dotted">
  <p class="text-base text-center text-gray-600">
    © 2023
    <a class="font-semibold text-blue-500" href="https://adoboshi.com/">adoboshi</a>
    <span class="hidden sm:inline">
      | Powered by
      <a class="font-semibold text-blue-500" href="https://github.com/otoyo/astro-notion-blog">astro-notion-blog</a>
    </span>
  </p>
</footer>

<style></style>
