---
---

<footer
  class="mt-8 footer footer-center p-2 text-base-content border-t border-neutral-500 border-dotted">
  <div>
    <p>
      &copy; 2023
      <a href="https://adoboshi.com/">adoboshi</a>
      | Powered by
      <a href="https://github.com/otoyo/astro-notion-blog">astro-notion-blog</a>
    </p>
  </div>
</footer>

<style></style>
