---
import { PUBLIC_SITE_TITLE } from "../server-constants.ts";

export interface Props {
  path: string;
}

const { path = "/" } = Astro.props;

const navItems = [
  { label: "ホーム", path: "/" },
  { label: "ブログ", path: "/blog" },
];
---

<div class="sticky top-0 z-10 mb-6">
  <header>
    <div class="navbar bg-base-100 border-b border-neutral-500">
      <!-- TODO: 横幅をコンテンツに合わせる -->
      <div class="flex-1">
        <!-- TODO: タイトルロゴのフォントをおしゃれにする -->
        <!-- 参考：Fontsource　https://lon.sagisawa.me/2021/02/fontsource-for-handling-webfonts -->
        <a href="/" class="btn btn-ghost normal-case text-xl">{PUBLIC_SITE_TITLE}</a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          {
            navItems.map(({ label, path: p }) => (
              <li key={label}>
                <a href={p} class={p === path ? "active" : null}>
                  {label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </header>
</div>

<style></style>
