---
import { PUBLIC_SITE_TITLE } from "../server-constants.ts";

export interface Props {
  path: string;
}

const { path = "/" } = Astro.props;

const navItems = [
  { label: "ホーム", path: "/" },
  { label: "ブログ", path: "/blog" },
];
---

<div class="sm:sticky sm:top-0 sm:z-50">
  <header class="flex flex-wrap sm:justify-start sm:flex-nowrap w-full py-4 bg-gray-800">
    <nav class="max-w-5xl w-full mx-auto sm:flex sm:items-center sm:justify-between px-4" aria-label="Global">
      <a class="flex-none text-xl font-semibold text-white" href="/">{PUBLIC_SITE_TITLE}</a>
      {
        /*
        TODO: タイトルロゴのフォントをおしゃれにする
        参考：Fontsource　https://lon.sagisawa.me/2021/02/fontsource-for-handling-webfonts
        */
      }
      <div class="flex flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:pl-5">
        {
          navItems.map(({ label, path: p }) => (
            <a href={p} class={p === path ? "font-medium text-indigo-500" : "font-medium text-gray-100 hover:text-gray-200"}>
              {label}
            </a>
          ))
        }
      </div>
    </nav>
  </header>
</div>

<style></style>
