---
import { getPageLink } from "../lib/blog-helpers.ts";

export interface Props {
  currentPage: number;
  numberOfPages: number;
  tag: string;
}

const { currentPage, numberOfPages, tag = "" } = Astro.props;

const isFirstPage = currentPage === 1;
const isLastPage = currentPage === numberOfPages;

const startPage = currentPage - 2 < 1 ? 1 : currentPage - 2;
const endPage = currentPage + 2 > numberOfPages ? numberOfPages : currentPage + 2;

let pages = [];
for (let i = startPage; i <= endPage; i++) {
  pages.push(i);
}
---

<nav class="flex justify-center items-center space-x-2">
  <a class="text-gray-500 hover:text-blue-600 p-4 inline-flex items-center gap-2 rounded-md" href={getPageLink(1, tag)}>
    <span aria-hidden="true">&lt;&lt;</span>
    <span class="sr-only">Top</span>
  </a>
  {
    pages.map((p: number) => (
      <a
        href={getPageLink(p, tag)}
        class={
          p === currentPage
            ? "w-10 h-10 bg-blue-500 text-white p-4 inline-flex items-center text-sm font-medium rounded-full"
            : "w-10 h-10 text-gray-500 hover:text-blue-600 p-4 inline-flex items-center text-sm font-medium rounded-full"
        }
      >
        {p}
      </a>
    ))
  }
  <a class="text-gray-500 hover:text-blue-600 p-4 inline-flex items-center gap-2 rounded-md" href={getPageLink(numberOfPages, tag)}>
    <span class="sr-only">End</span>
    <span aria-hidden="true">&gt;&gt;</span>
  </a>
</nav>
