---
import { Block } from '../lib/interfaces.ts'
import NotionBlocks from './NotionBlocks.astro'

export interface Props {
  blocks: Block[]
}

const { blocks } = Astro.props
---

<div class="">
  <NotionBlocks blocks={blocks} isRoot={true} />
</div>

<style>
</style>
