---
import type { Post, SelectProperty } from '../lib/interfaces.ts'
import { getTagLink } from '../lib/blog-helpers.ts'
import '../styles/notion-color.css'

export interface Props {
  post: Post
}

const { post } = Astro.props
---

<div class="post-tags">
  {post.Tags &&
    post.Tags.length > 0 &&
    post.Tags.map((tag: SelectProperty) => (
      <a href={getTagLink(tag.name)} class={`tag ${tag.color}`}>
        {tag.name}
      </a>
    ))}
</div>

<style>
</style>
