---
import { Post } from "../lib/interfaces.ts";
import { getPostLink } from "../lib/blog-helpers.ts";

export interface Props {
  post: Post;
  enableLink: boolean;
}

const { post, enableLink = true } = Astro.props;
---

<h1 class="text-xl font-medium text-gray-900 mb-4">
  {enableLink ? <a href={getPostLink(post.Slug)}>{post.Title}</a> : post.Title}
</h1>
