---
import { Post } from '../lib/interfaces.ts'
import { getPostLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props
---

<div>
  <a href={getPostLink(post.Slug)} class="btn btn-wide btn-outline">続きを読む</a>
</div>

<style>
</style>
